 .background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #423B35;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  /* border: 1px solid red; */
} 

.buttonContainer{
  display: flex; 
  gap: 30px;
  justify-content:space-between; 
}



.back{
  width: 200px;
  background-color: #a5a19c;
  color: white;
  font-weight: bold;
  border: none;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;  
}

.back:hover{
  background-color: #a5a19cb6;  
}

.error{
  margin: 0;
  color: rgb(214, 54, 54);
  font-weight: bold;
}